<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarBuster.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ED134891D4299E5002BC092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED134A11D4299E7002BC092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED134AC1D4299E7002BC092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EE56F6D1D8DA63100A0D4FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
